<div class="checkout-stats-container">
    <mat-card>
      <mat-card-title># Currently Borrowed</mat-card-title>
      <mat-card-content>
        <h3>
            {{ currentlyBorrowed }}
        </h3>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Total Checkouts</mat-card-title>
        <mat-card-content>
          <h3>
              {{ totalCheckouts }}
          </h3>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title># Unique Users</mat-card-title>
        <mat-card-content>
          <h3>
              {{ uniqueUsers }}
          </h3>
        </mat-card-content>
      </mat-card>
  </div>