* {
  width: 100%;
  
  /* padding: 16px; */
}

.top-bar-container {
  display: flex;
  flex-direction: column;
  height: 130px;
  background-image: url('../../assets/logo.png'); /* Specify the path to your image */
  background-size: cover; /* Scale the background image to cover the entire container */
  background-position: center;
}

.top-bar-app-title a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fffb03;
  margin-top: 25px;;
}

.top-bar-admin-route a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
  color: #fffb03;
  margin-top: 5px;
}

.top-bar-container mat-icon {
  color: #fffb03;
  /* align-self: end; */
  margin-right: 5px;
  margin-left: 30px;
}

.top-bar-container h3 {
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
